.input {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  caret-color: var(--color-pink-medium);
  background-color: var(--color-grey-light);
  border: none;
  border-radius: 40px;
  padding: 10px 16px;
  outline: none;
}

.input::placeholder {
  color: var(--color-grey-dark);
}
