.friends-container {
  display: flex;
  max-width: 100vw;
  align-items: flex-start;
}

@media (max-width: 360px) {
  .friends-container {
    flex-direction: column-reverse;
  }
}

.friends-content {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 24px;
  justify-content: center;
}
